.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

@media screen and (max-width: 1400px) {
  .card-grid {
    gap: 2%;
  }
}

@media screen and (max-width: 1000px) {
  .card-grid {
    gap: 3%;
  }
}

@media screen and (max-width: 500px) {
  .card-grid {
    gap: 5%;
    justify-content: center;
  }
}
